@import './fonts'
@import './grid'

:root
  /* Colors */
  --color-typography: #000000
  --color-background: #fdfdf7

  /* Typography */
  --font-family-base: 'Xanh Mono', monospace
  --font-family-pixels: 'NF Pixels', sans-serif
  --font-size-base: 1.2rem
  --font-size-lg: 1.8rem

  /* Grid */
  --grid-gutter: 1rem

/* Typography Classes */
.body-text
  font-size: var(--font-size-base)

.header-text p
  font-size: var(--font-size-lg)

  // Apply font size to common content elements
  p, h1, h2, h3, h4, h5, h6, li, div
    font-size: inherit

.pixel-text
  font-family: var(--font-family-pixels), sans-serif

/* Buttons */
button
  background: none
  border: none
  padding: 0 20px 0 0
  margin: 0 0 20px 0
  font: inherit
  color: inherit
  text-decoration: none
  cursor: pointer
  display: inline-block

  &:hover
    text-decoration: none

  &.active::before
    content: "x "
    font-family: var(--font-family-pixels), sans-serif

.project-item
  position: relative

.project-link
  position: absolute
  display: block
  top: 0
  left: 0
  padding: 0.125rem 0.5rem
  text-decoration: none
  background-color: var(--color-typography)
  color: var(--color-background)
  box-sizing: border-box
  width: fit-content

img:not(.project-thumbnail)
  padding: 20px

/* Project Thumbnails */
.project-thumbnail
  width: 100%
  height: auto
  display: block

/* General Styling */
body
  background-color: var(--color-background)
  color: var(--color-typography)
  font-family: var(--font-family-base), monospace
  font-size: var(--font-size-base)
  font-weight: var(--font-weight-normal)
  line-height: var(--line-height-base)
  padding: 3em

/* Navigation */
header
  position: fixed
  top: 1rem
  right: 1rem
  z-index: 1000

nav
  display: flex
  flex-direction: column
  align-items: flex-end

/* Paragraphs */
p
  margin-top: 0

/* Extras */
a
  color: var(--color-typography)
  text-decoration: none

a:hover
  font-family: var(--font-family-pixels)
