@import './grid'
@import './fonts'

:root
  /* Colors */
  --color-typography: #000000
  --color-background: #fdfdf7

  /* Typography */
  --font-family-base: 'Xanh Mono', monospace
  --font-family-pixels: 'NF Pixels', sans-serif
  --font-family-authentic: 'Authentic Sans', sans-serif
  --font-size-base: 1.2rem
  --font-size-lg: 1.8rem
  --font-size-sm: 0.9rem

  /* Grid */
  --grid-gutter: 2rem

/* Typography Classes */
.body-text
  font-size: var(--font-size-base)

.header-text p
  font-size: var(--font-size-lg)

  // Apply font size to common content elements
  p, h1, h2, h3, h4, h5, h6, li, div
    font-size: inherit

.pixel-text
  font-family: var(--font-family-pixels), sans-serif
  margin: 0.33rem 0 0.33rem 0

.authentic-sans
  font-family: var(--font-family-authentic), sans-serif
  font-weight: 90
  font-size: 1.1rem

/* Buttons */
button
  background: none
  border: none
  padding: 0 20px 0 0
  margin: 40px 0 20px 0
  font: inherit
  color: inherit
  text-decoration: none
  cursor: pointer
  display: inline-block

  &:hover,&.active
    text-decoration: none
    font-style: italic

  &.active::before
    content: "x "
    font-style: normal
    font-family: var(--font-family-pixels), sans-serif

.project-item
  position: relative

.project-link
  position: absolute
  display: block
  top: 0
  left: 0
  padding: 0.125rem 0.5rem
  text-decoration: none
  background-color: var(--color-typography)
  color: var(--color-background)
  box-sizing: border-box
  width: fit-content

.project-title
  margin-top: 0
  padding: 0.125rem 0.5rem
  text-decoration: none
  background-color: var(--color-typography)
  color: var(--color-background)
  box-sizing: border-box
  width: fit-content

img:not(.project-thumbnail)
  padding-bottom: 40px

/* Project Thumbnails */
.project-thumbnail
  width: 100%
  height: auto
  object-fit: cover
  aspect-ratio: 16 / 11

/* General Styling */
body
  background-color: var(--color-background)
  color: var(--color-typography)
  font-family: var(--font-family-base), monospace
  font-size: var(--font-size-base)
  font-weight: var(--font-weight-normal)
  line-height: var(--line-height-base)
  padding: 3.5em

/* Navigation */
header
  position: fixed
  top: 1rem
  right: 1rem
  z-index: 1000

nav
  display: flex
  align-items: flex-end
  gap: 20px
  & > *
    margin-top: 0
    padding: 0.125rem 0.5rem
    text-decoration: none
    background-color: var(--color-background)
    color: var(--color-typography)
    box-sizing: border-box
    width: fit-content

a:hover
  font-style: italic

a.router-link-active
  font-style: italic

/* Paragraphs */
p
  margin-top: 0

/* Extras */
a
  color: var(--color-typography)
  text-decoration: none
